 body{
    margin:0;
    padding:0;
    font-family: Georgia, 'Times New Roman', Times, serif, sserif;
    background-color: black;
 }
 
 .grid-wrapper{
     display:grid;
     width: 100vw;
     height: 100vh;
     grid-template-columns: 1fr 2fr;
     grid-template-rows: 1fr ;
     grid-template-areas:
     "pictures  info"
    
 }

 .pictures{
     grid-area: pictures;
     height: 100vh;
     border-right: 2px solid white;   
     background-color: white;
 }

 div.first_name{
     position:relative;
     left: 20vw; 
     bottom: 40vh;
     height: 9vh;
     width: 11.5vw;
     background-color: #d9f526b7;
 }

 div.first_name p{
    color: rgba(255, 255, 255, 0.829);
    line-height: 85%;
    font-family: 'brokenstick', Arial, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 4.2em;
    letter-spacing: 1.5px; 
 }

 div.last_name{
    position:relative;
    left: 11.6vw; 
    bottom: 47vh;
    height: 9vh;
    width: 21vw;
    background-color: #d9f526b7;

}
div.last_name p{
    color: rgba(255, 255, 255, 0.829);
    line-height: 85%;
    font-family: 'brokenstick', Arial, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 4.2em;
    letter-spacing: 1.5px; 
 }

 .info{
     grid-area: info;
     height: 100%;
     background-color: rgb(114, 113, 113);
 }

 .info img{
    margin:10vh 0vw 0vh 20vw;
 }

h1{
    padding-top: 5vh;
    text-align: center;
    font-size: 2.5em;
    line-height: 175%;
    color:white; 
}

.info p{
    padding-top: 1vh;
    font-size:1.5em;    
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    line-height: 170%;
}

@font-face {
    font-family: 'brokenstick';
    src: url('brokenstick.woff2') format('woff2'),
         url('brokenstick.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'dry_brush-webfont';
    src: url('dry_brush-webfont') format('woff2'),
         url('dry_brush-webfont') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*
.still{    
    margin: 10vh 0vw 0vh 21vw;
    padding:0;
    width: 20vw;
    height: 3vw;   
    background-color:white;
    border: 2px solid white;
    border-radius: 25px;   
}*/

.still{    
    margin: 10vh 0vw 0vh 21vw;
    padding:0;
    width: 13vw;
    height:5vw;   
    background-color: #d9f526b7;

}

/* position relative  specify the position of the 
text relative to the top left of the div.*/
.still a{     
    position:relative;
    top: 3vh;
    left: .8vw;
    color:rgba(255, 255, 255, 0.829);        
    font-family:'brokenstick', Arial, sans-serif;
    font-weight:normal;
    font-style: italic;    
    font-size: 30px;
    text-decoration:none;   
    letter-spacing: 1.5px; 
  }
  div.first_name{
    position:relative;
    left: 20vw; 
    bottom: 40vh;
    height: 9vh;
    width: 11.5vw;
    background-color: #d9f526b7;
}

