 body{
    margin:0;
    padding:0;
    font-family: Georgia, 'Times New Roman', Times, serif, sserif;
    background-color: black;
 }
 
 .grid-wrapper{
     display:grid;
     width: 100%;
     height: 100%;
     grid-template-columns: 1fr 2fr;
     grid-template-rows: 1fr ;
     grid-template-areas:
     "pictures  info"
    
 }

 .pictures{
     grid-area: pictures;
     height: 100vh;
     border-right: 2px solid white;   
     background-color: white;
 }

 div.first_name{
     position:relative;
     left: 20vw; 
     bottom: 40vh;
     height: 9vh;
     width: 11.5vw;
     background-color:#1de9169c;
 }

 div.first_name p{
    color: rgba(255, 255, 255, 0.829);
    line-height: 100%;
    font-family:'dry_brush', Arial, sans-serif;
   
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 1.5px; 
 }

 div.last_name{
    position:relative;    
    left: 8vw; 
    bottom: 45vh;
    height: 9vh;
    width: 24vw;
    background-color:#1de9169c;

}
div.last_name p{
    color: rgba(255, 255, 255, 0.829);
    line-height: 120%;
    font-family: 'dry_brush', Arial, sans-serif;
    text-transform: uppercase;   
    font-size: 4.2em;
    letter-spacing: 1.5px; 
 }

 .info{
     grid-area: info;
     height: 100%;
     background-color: #443F3B;
     
 }

 .info img{
    margin:10vh 0vw 0vh 22vw;
 }

h1{
    padding-top: 5vh;
    text-align: center;
    font-size: 2.5em;
    line-height: 175%;
    color:white; 
}

.info p{
    padding-top: 1vh;
    font-size:1.5em;    
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    line-height: 170%;
}


@font-face {
    font-family: 'dry_brush';
    src: url('dry_brush.woff2') format('woff2'),
         url('dry_brush.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.still{    
    margin: 10vh 0vw 0vh 25vw;
    padding:0;
    width: 12vw;
    height:3vw;   
    background-color: #1de9169c;

}

/* position relative  specify the position of the 
text relative to the top left of the div.*/
.still a{     
    position:relative;
    top: 0vh;
    left: .8vw;
    color:rgba(255, 255, 255, 0.829);        
    font-family:'dry_brush', Arial, sans-serif;
    font-weight:normal;
    text-transform: uppercase;     
    font-size: 30px;
    text-decoration:none;   
    letter-spacing: 1.5px; 
  }


